{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.last_name }}, {{ author.first_name}}</h1>

  <p><strong>First name:</strong> <a href="">{{ author.first_name }}</a></p> <!-- author first name -->
  <p><strong>Last name:</strong> {{ author.last_name }}</p>
  <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for copy in author.book_set.all %}
      <hr>
      <p class="font-weight-bold">
        {{ copy.title }}
      </p>
      {% if copy.summary %}
        <p>{{ copy.summary }}</p>
      {% endif %}
    {% endfor %}
  </div>
  
{% endblock %}